<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948920929657-v9rjni6nbti4l6god7o662i9epbi6ut2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948920929657-v9rjni6nbti4l6god7o662i9epbi6ut2</string>
	<key>API_KEY</key>
	<string>AIzaSyA7vowRwczo6l1edROhftgIHushdZIOrgo</string>
	<key>GCM_SENDER_ID</key>
	<string>948920929657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.omegaPractice</string>
	<key>PROJECT_ID</key>
	<string>omega-f7d7d</string>
	<key>STORAGE_BUCKET</key>
	<string>omega-f7d7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948920929657:ios:d9ce5907238c82b53973a8</string>
</dict>
</plist>